<?xml version="1.0" ?>
<settings version="1">
	<section id="plugin.video.dazn">
		<category id="account" label="30000" help="">
			<group id="1">
				<setting id="save_login" type="boolean" label="30001" help="">
					<level>0</level>
					<default>false</default>
					<control type="toggle"/>
				</setting>
				<setting id="logout" type="action" label="30002" help="">
					<level>0</level>
					<data>RunPlugin(plugin://plugin.video.dazn/?mode=logout)</data>
					<constraints>
						<allowempty>true</allowempty>
					</constraints>
					<control type="button" format="action">
						<close>true</close>
					</control>
				</setting>
				<setting id="country" type="string" label="country" help="">
					<level>0</level>
					<default/>
					<constraints>
						<allowempty>true</allowempty>
					</constraints>
					<dependencies>
						<dependency type="visible">
							<condition on="property" name="InfoBool">false</condition>
						</dependency>
					</dependencies>
					<control type="edit" format="string">
						<heading>country</heading>
					</control>
				</setting>
				<setting id="language" type="string" label="language" help="">
					<level>0</level>
					<default>en</default>
					<dependencies>
						<dependency type="visible">
							<condition on="property" name="InfoBool">false</condition>
						</dependency>
					</dependencies>
					<control type="edit" format="string">
						<heading>language</heading>
					</control>
				</setting>
				<setting id="device_id" type="string" label="device_id" help="">
					<level>0</level>
					<default/>
					<constraints>
						<allowempty>true</allowempty>
					</constraints>
					<dependencies>
						<dependency type="visible">
							<condition on="property" name="InfoBool">false</condition>
						</dependency>
					</dependencies>
					<control type="edit" format="string">
						<heading>device_id</heading>
					</control>
				</setting>
				<setting id="viewer_id" type="string" label="viewer_id" help="">
					<level>0</level>
					<default/>
					<constraints>
						<allowempty>true</allowempty>
					</constraints>
					<dependencies>
						<dependency type="visible">
							<condition on="property" name="InfoBool">false</condition>
						</dependency>
					</dependencies>
					<control type="edit" format="string">
						<heading>viewer_id</heading>
					</control>
				</setting>
				<setting id="portability" type="string" label="portability" help="">
					<level>0</level>
					<default/>
					<constraints>
						<allowempty>true</allowempty>
					</constraints>
					<dependencies>
						<dependency type="visible">
							<condition on="property" name="InfoBool">false</condition>
						</dependency>
					</dependencies>
					<control type="edit" format="string">
						<heading>portability</heading>
					</control>
				</setting>
				<setting id="token" type="string" label="token" help="">
					<level>0</level>
					<default/>
					<constraints>
						<allowempty>true</allowempty>
					</constraints>
					<dependencies>
						<dependency type="visible">
							<condition on="property" name="InfoBool">false</condition>
						</dependency>
					</dependencies>
					<control type="edit" format="string">
						<heading>token</heading>
					</control>
				</setting>
				<setting id="api_endpoint_rail" type="string" label="api_endpoint_rail" help="">
					<level>0</level>
					<default/>
					<constraints>
						<allowempty>true</allowempty>
					</constraints>
					<dependencies>
						<dependency type="visible">
							<condition on="property" name="InfoBool">false</condition>
						</dependency>
					</dependencies>
					<control type="edit" format="string">
						<heading>api_endpoint_rail</heading>
					</control>
				</setting>
				<setting id="api_endpoint_rails" type="string" label="api_endpoint_rails" help="">
					<level>0</level>
					<default/>
					<constraints>
						<allowempty>true</allowempty>
					</constraints>
					<dependencies>
						<dependency type="visible">
							<condition on="property" name="InfoBool">false</condition>
						</dependency>
					</dependencies>
					<control type="edit" format="string">
						<heading>api_endpoint_rails</heading>
					</control>
				</setting>
				<setting id="api_endpoint_epg" type="string" label="api_endpoint_epg" help="">
					<level>0</level>
					<default/>
					<constraints>
						<allowempty>true</allowempty>
					</constraints>
					<dependencies>
						<dependency type="visible">
							<condition on="property" name="InfoBool">false</condition>
						</dependency>
					</dependencies>
					<control type="edit" format="string">
						<heading>api_endpoint_epg</heading>
					</control>
				</setting>
				<setting id="api_endpoint_event" type="string" label="api_endpoint_event" help="">
					<level>0</level>
					<default/>
					<constraints>
						<allowempty>true</allowempty>
					</constraints>
					<dependencies>
						<dependency type="visible">
							<condition on="property" name="InfoBool">false</condition>
						</dependency>
					</dependencies>
					<control type="edit" format="string">
						<heading>api_endpoint_event</heading>
					</control>
				</setting>
				<setting id="api_endpoint_playback" type="string" label="api_endpoint_playback" help="">
					<level>0</level>
					<default/>
					<constraints>
						<allowempty>true</allowempty>
					</constraints>
					<dependencies>
						<dependency type="visible">
							<condition on="property" name="InfoBool">false</condition>
						</dependency>
					</dependencies>
					<control type="edit" format="string">
						<heading>api_endpoint_playback</heading>
					</control>
				</setting>
				<setting id="api_endpoint_signin" type="string" label="api_endpoint_signin" help="">
					<level>0</level>
					<default/>
					<constraints>
						<allowempty>true</allowempty>
					</constraints>
					<dependencies>
						<dependency type="visible">
							<condition on="property" name="InfoBool">false</condition>
						</dependency>
					</dependencies>
					<control type="edit" format="string">
						<heading>api_endpoint_signin</heading>
					</control>
				</setting>
				<setting id="api_endpoint_signout" type="string" label="api_endpoint_signout" help="">
					<level>0</level>
					<default/>
					<constraints>
						<allowempty>true</allowempty>
					</constraints>
					<dependencies>
						<dependency type="visible">
							<condition on="property" name="InfoBool">false</condition>
						</dependency>
					</dependencies>
					<control type="edit" format="string">
						<heading>api_endpoint_signout</heading>
					</control>
				</setting>
				<setting id="api_endpoint_refresh_access_token" type="string" label="api_endpoint_refresh_access_token" help="">
					<level>0</level>
					<default/>
					<constraints>
						<allowempty>true</allowempty>
					</constraints>
					<dependencies>
						<dependency type="visible">
							<condition on="property" name="InfoBool">false</condition>
						</dependency>
					</dependencies>
					<control type="edit" format="string">
						<heading>api_endpoint_refresh_access_token</heading>
					</control>
				</setting>
				<setting id="api_endpoint_userprofile" type="string" label="api_endpoint_userprofile" help="">
					<level>0</level>
					<default/>
					<constraints>
						<allowempty>true</allowempty>
					</constraints>
					<dependencies>
						<dependency type="visible">
							<condition on="property" name="InfoBool">false</condition>
						</dependency>
					</dependencies>
					<control type="edit" format="string">
						<heading>api_endpoint_userprofile</heading>
					</control>
				</setting>
				<setting id="api_endpoint_resource_strings" type="string" label="api_endpoint_resource_strings" help="">
					<level>0</level>
					<default/>
					<constraints>
						<allowempty>true</allowempty>
					</constraints>
					<dependencies>
						<dependency type="visible">
							<condition on="property" name="InfoBool">false</condition>
						</dependency>
					</dependencies>
					<control type="edit" format="string">
						<heading>api_endpoint_resource_strings</heading>
					</control>
				</setting>
				<setting id="api_endpoint_devices" type="string" label="api_endpoint_devices" help="">
					<level>0</level>
					<default/>
					<constraints>
						<allowempty>true</allowempty>
					</constraints>
					<dependencies>
						<dependency type="visible">
							<condition on="property" name="InfoBool">false</condition>
						</dependency>
					</dependencies>
					<control type="edit" format="string">
						<heading>api_endpoint_devices</heading>
					</control>
				</setting>
				<setting id="api_endpoint_search" type="string" label="api_endpoint_search" help="">
					<level>0</level>
					<default/>
					<constraints>
						<allowempty>true</allowempty>
					</constraints>
					<dependencies>
						<dependency type="visible">
							<condition on="property" name="InfoBool">false</condition>
						</dependency>
					</dependencies>
					<control type="edit" format="string">
						<heading>api_endpoint_search</heading>
					</control>
				</setting>
				<setting id="startup" type="boolean" label="startup" help="">
					<level>0</level>
					<default>true</default>
					<dependencies>
						<dependency type="visible">
							<condition on="property" name="InfoBool">false</condition>
						</dependency>
					</dependencies>
					<control type="toggle"/>
				</setting>
				<setting id="email" type="string" label="email" help="">
					<level>0</level>
					<default/>
					<constraints>
						<allowempty>true</allowempty>
					</constraints>
					<dependencies>
						<dependency type="visible">
							<condition on="property" name="InfoBool">false</condition>
						</dependency>
					</dependencies>
					<control type="edit" format="string">
						<heading>email</heading>
					</control>
				</setting>
				<setting id="password" type="string" label="password" help="">
					<level>0</level>
					<default/>
					<constraints>
						<allowempty>true</allowempty>
					</constraints>
					<dependencies>
						<dependency type="visible">
							<condition on="property" name="InfoBool">false</condition>
						</dependency>
					</dependencies>
					<control type="edit" format="string">
						<heading>password</heading>
					</control>
				</setting>
				<setting id="max_registrable_devices" type="string" label="max_registrable_devices" help="">
					<level>0</level>
					<default/>
					<constraints>
						<allowempty>true</allowempty>
					</constraints>
					<dependencies>
						<dependency type="visible">
							<condition on="property" name="InfoBool">false</condition>
						</dependency>
					</dependencies>
					<control type="edit" format="string">
						<heading>max_registrable_devices</heading>
					</control>
				</setting>
				<setting id="entitlement_id" type="string" label="entitlement_id" help="">
					<level>0</level>
					<default/>
					<constraints>
						<allowempty>true</allowempty>
					</constraints>
					<dependencies>
						<dependency type="visible">
							<condition on="property" name="InfoBool">false</condition>
						</dependency>
					</dependencies>
					<control type="edit" format="string">
						<heading>entitlement_id</heading>
					</control>
				</setting>
				<setting id="entitlements" type="string" label="entitlements" help="">
					<level>0</level>
					<default/>
					<constraints>
						<allowempty>true</allowempty>
					</constraints>
					<dependencies>
						<dependency type="visible">
							<condition on="property" name="InfoBool">false</condition>
						</dependency>
					</dependencies>
					<control type="edit" format="string">
						<heading>entitlements</heading>
					</control>
				</setting>
				<setting id="resources_language" type="string" label="resources_language" help="">
					<level>0</level>
					<default/>
					<constraints>
						<allowempty>true</allowempty>
					</constraints>
					<dependencies>
						<dependency type="visible">
							<condition on="property" name="InfoBool">false</condition>
						</dependency>
					</dependencies>
					<control type="edit" format="string">
						<heading>resources_language</heading>
					</control>
				</setting>
			</group>
		</category>
		<category id="view" label="30010" help="">
			<group id="1">
				<setting id="force_view" type="boolean" label="30011" help="">
					<level>0</level>
					<default>false</default>
					<control type="toggle"/>
				</setting>
				<setting id="content" type="string" label="30012" help="">
					<level>0</level>
					<default>videos</default>
					<constraints>
						<options>
							<option>videos</option>
							<option>movies</option>
							<option>tvshows</option>
							<option>episodes</option>
							<option>musicvideos</option>
						</options>
					</constraints>
					<dependencies>
						<dependency type="enable">
							<condition operator="is" setting="force_view">true</condition>
						</dependency>
					</dependencies>
					<control type="list" format="string">
						<heading>30012</heading>
					</control>
				</setting>
				<setting id="view_id" type="integer" label="30013" help="">
					<level>0</level>
					<default>55</default>
					<dependencies>
						<dependency type="enable">
							<condition operator="is" setting="force_view">true</condition>
						</dependency>
					</dependencies>
					<control type="edit" format="integer">
						<heading>30013</heading>
					</control>
				</setting>
				<setting id="view_id_videos" type="integer" label="30014" help="">
					<level>0</level>
					<default>55</default>
					<dependencies>
						<dependency type="enable">
							<condition operator="is" setting="force_view">true</condition>
						</dependency>
					</dependencies>
					<control type="edit" format="integer">
						<heading>30014</heading>
					</control>
				</setting>
				<setting id="view_id_epg" type="integer" label="30015" help="">
					<level>0</level>
					<default>55</default>
					<dependencies>
						<dependency type="enable">
							<condition operator="is" setting="force_view">true</condition>
						</dependency>
					</dependencies>
					<control type="edit" format="integer">
						<heading>30015</heading>
					</control>
				</setting>
				<setting id="show_only_playable_content" type="boolean" label="30016" help="">
					<level>0</level>
					<default>false</default>
					<control type="toggle"/>
				</setting>				
				<setting id="hide_total_playtime" type="boolean" label="30025" help="">
					<level>0</level>
					<default>false</default>
					<control type="toggle"/>
				</setting>
			</group>
		</category>
		<category id="videoplayer" label="30020" help="">
			<group id="1">
				<setting id="is_settings" type="action" label="30021" help="">
					<level>0</level>
					<data>RunPlugin(plugin://plugin.video.dazn/?mode=is_settings)</data>
					<constraints>
						<allowempty>true</allowempty>
					</constraints>
					<control type="button" format="action">
						<close>true</close>
					</control>
				</setting>
				<setting id="max_bw" type="integer" label="30022" help="">
					<level>0</level>
					<default>0</default>
					<control type="edit" format="integer">
						<heading>30022</heading>
					</control>
				</setting>
				<setting id="select_cdn" type="boolean" label="30023" help="">
					<level>0</level>
					<default>false</default>
					<control type="toggle"/>
				</setting>
				<setting id="preferred_cdn" type="string" label="30024" help="">
					<level>0</level>
					<default/>
					<constraints>
						<allowempty>true</allowempty>
					</constraints>
					<dependencies>
						<dependency type="enable">
							<condition on="property" name="InfoBool">false</condition>
						</dependency>
						<dependency type="visible">
							<condition on="property" name="InfoBool">false</condition>
						</dependency>
					</dependencies>
					<control type="edit" format="string">
						<heading>30024</heading>
					</control>
				</setting>
			</group>
		</category>
		<category id="proxy" label="30030" help="">
			<group id="1">
				<setting id="verify_ssl_certificates" type="boolean" label="30031" help="">
					<level>0</level>
					<default>true</default>
					<dependencies>
						<dependency type="enable">
							<condition operator="is" setting="proxy_use">false</condition>
						</dependency>
						<dependency type="visible">
							<condition on="property" name="InfoBool">false</condition>
						</dependency>
					</dependencies>
					<control type="toggle"/>
				</setting>
			</group>
			<group id="2">
				<setting id="proxy_use" type="boolean" label="30032" help="">
					<level>0</level>
					<default>false</default>
					<control type="toggle"/>
				</setting>
				<setting id="proxy_host" type="string" label="30033" help="">
					<level>0</level>
					<default>127.0.0.1</default>
					<dependencies>
						<dependency type="visible">
							<condition operator="is" setting="proxy_use">true</condition>
						</dependency>
					</dependencies>
					<control type="edit" format="ip">
						<heading>30033</heading>
					</control>
				</setting>
				<setting id="proxy_port" type="integer" label="30034" help="">
					<level>0</level>
					<default>8012</default>
					<dependencies>
						<dependency type="visible">
							<condition operator="is" setting="proxy_use">true</condition>
						</dependency>
					</dependencies>
					<control type="edit" format="integer">
						<heading>30034</heading>
					</control>
				</setting>
			</group>
		</category>
	</section>
</settings>
